.expertise {
    background-color: #241913;
    color: #f5f1ea;

    padding: 70px 80px 10px;

    text-align: center;
}


.expertise-header {
    margin-bottom: 50px;
}

.expertise-header span {
    font-size: 10px;
    letter-spacing: 3px;
}

.expertise-header h2 {
    font-family: Georgia, serif;
    font-size: 36px;
    font-weight: normal;

    margin: 18px 0 8px;
}

.expertise-header p {
    font-family: Georgia, serif;
    font-size: 13px;
}

.expertise-card {
    overflow: hidden;
}

.expertise-cards {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.expertise-card img {
    display: block;

    width: 100%;
    height: 60%;

    object-fit: cover;

    margin-bottom: 15px;
}

.expertise-card h3 {
    font-family: Georgia, serif;
    font-size: 14px;
    font-weight: normal;

    margin-bottom: 8px;
}

.expertise-card p {
    font-family: Georgia, serif;
    font-size: 13px;
    line-height: 1.4;

    margin-bottom: 20px;
}

.expertise-card a {
    color: #f5f1ea;

    text-decoration: none;

    font-size: 11px;
}

/* =========================
   MOBILE
========================= */

@media (max-width: 768px) {

    .expertise {
        padding: 80px 8%;
    }

    .expertise-header {
        margin-bottom: 50px;
    }

    .expertise-header span {
        font-size: 10px;
        letter-spacing: 3px;
    }

    .expertise-header h2 {
        font-size: 38px;
        line-height: 1.15;
    }

    .expertise-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 55px;
    }

    .expertise-card {
        width: 100%;
        max-width: 320px;
    }

    .expertise-card img {
        width: 100%;
        height: 430px;
        object-fit: cover;
        margin-bottom: 15px;
    }

    .expertise-card h3 {
        font-size: 24px;
    }

    .expertise-card p {
        font-size: 13px;
        line-height: 1.7;
    }

    .expertise-card a {
        font-size: 9px;
        letter-spacing: 2px;
    }

}