.hero {
    position: relative;
    height: 650px;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    text-align: center;
    z-index: 2;
}

.hero-content span {
    color: #f5f1ea;
    font-size: 13px;
    letter-spacing: 5px;
}

.hero-content h1 {
    color: #f5f1ea;
    font-family: Georgia, serif;
    font-size: 58px;
    font-weight: normal;
    line-height: 1.15;
    letter-spacing: 2px;
    margin: 25px 0 0;
}

.hero-content a {
    display: inline-block;
    margin-top: 35px;

    color: #f5f1ea;
    text-decoration: none;
    font-size: 11px;
    letter-spacing: 2px;

    border-bottom: 1px solid #f5f1ea;
    padding-bottom: 8px;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(36, 25, 19, 0.38);
    z-index: 1;
}

/* MOBILE */


@media (max-width: 768px) {

    .hero {
        height: 600px;
    }

    .hero-content {
        width: 88%;
    }

    .hero-content span {
        font-size: 10px;
        letter-spacing: 3px;
    }

    .hero-content h1 {
        font-size: 38px;
        line-height: 1.15;
        letter-spacing: 1px;
        margin-top: 20px;
    }

    .hero-content a {
        margin-top: 30px;
        font-size: 10px;
        letter-spacing: 2px;
    }

}