.horse-detail {
    background-color: #f5f1ea;
    color: #241913;
    padding: 100px 8%;
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    gap: 100px;
    align-items: center;

    margin-top: 150px;
}

/* IMAGE */

.horse-detail-image {
    height: 650px;
    overflow: hidden;
}

.horse-detail-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* CONTENT */

.horse-detail-content {
    max-width: 450px;
}

.horse-detail-content > span {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 10px;
    letter-spacing: 4px;
    margin-bottom: 30px;
    opacity: 0.7;
}

.horse-detail-content h1 {
    font-family: Georgia, serif;
    font-size: 64px;
    font-weight: normal;
    line-height: 1;
    margin: 0 0 30px;
}

.horse-detail-content p {
    font-family: Arial, sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
    border-top: 1px solid rgba(36, 25, 19, 0.25);
    border-bottom: 1px solid rgba(36, 25, 19, 0.25);
    padding: 18px 0;
    margin-bottom: 35px;
}

.horse-detail-content h2 {
    font-family: Georgia, serif;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
}


/* MOBILE */

@media (max-width: 768px) {

    .horse-detail {
        grid-template-columns: 1fr;
        gap: 50px;
        padding: 60px 6%;
    }

    .horse-detail-image {
        height: 500px;
    }

    .horse-detail-content {
        max-width: none;
    }

    .horse-detail-content h1 {
        font-size: 46px;
    }
}